
span{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    border: 0.5px solid rgb(255, 255, 255);
    color: dodgerblue;
}

span:hover{
    background-color: dodgerblue;
    color: #fff;
    border: 0.5px solid white;
}

i{
    font-size:1.5625em;
}

.socials ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

.socials li{
    height: 100px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socials li:hover{
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}
h2{
    text-align: center;
}